<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<servlet>
		<servlet-name>nutriment</servlet-name>
		<servlet-class>health.NutrimentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>nutriment</servlet-name>
		<url-pattern>/nutriment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deleteDMS</servlet-name>
		<servlet-class>health.dms.DeleteDMSServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteDMS</servlet-name>
		<url-pattern>/deleteDMS</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addDMS</servlet-name>
		<servlet-class>health.dms.AddDMSServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addDMS</servlet-name>
		<url-pattern>/addDMS</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>changeDMS</servlet-name>
		<servlet-class>health.dms.ChangeDMSServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>changeDMS</servlet-name>
		<url-pattern>/changeDMS</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deleteDishType</servlet-name>
		<servlet-class>health.dishtype.DeleteDishTypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteDishType</servlet-name>
		<url-pattern>/deleteDishType</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addDishType</servlet-name>
		<servlet-class>health.dishtype.AddDishTypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addDishType</servlet-name>
		<url-pattern>/addDishType</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>changeDishType</servlet-name>
		<servlet-class>health.dishtype.ChangeDishTypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>changeDishType</servlet-name>
		<url-pattern>/changeDishType</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deleteCook</servlet-name>
		<servlet-class>health.cook.DeleteCookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteCook</servlet-name>
		<url-pattern>/deleteCook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addCook</servlet-name>
		<servlet-class>health.cook.AddCookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addCook</servlet-name>
		<url-pattern>/addCook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>changeCook</servlet-name>
		<servlet-class>health.cook.ChangeCookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>changeCook</servlet-name>
		<url-pattern>/changeCook</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deleteTaste</servlet-name>
		<servlet-class>health.taste.DeleteTasteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteTaste</servlet-name>
		<url-pattern>/deleteTaste</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addTaste</servlet-name>
		<servlet-class>health.taste.AddTasteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addTaste</servlet-name>
		<url-pattern>/addTaste</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>changeTaste</servlet-name>
		<servlet-class>health.taste.ChangeTasteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>changeTaste</servlet-name>
		<url-pattern>/changeTaste</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deleteCuisine</servlet-name>
		<servlet-class>health.cuisine.DeleteCuisineServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteCuisine</servlet-name>
		<url-pattern>/deleteCuisine</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addCuisine</servlet-name>
		<servlet-class>health.cuisine.AddCuisineServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addCuisine</servlet-name>
		<url-pattern>/addCuisine</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>changeCuisine</servlet-name>
		<servlet-class>health.cuisine.ChangeCuisineServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>changeCuisine</servlet-name>
		<url-pattern>/changeCuisine</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deleteFunction</servlet-name>
		<servlet-class>health.function.DeleteFunctionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteFunction</servlet-name>
		<url-pattern>/deleteFunction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addFunction</servlet-name>
		<servlet-class>health.function.AddFunctionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addFunction</servlet-name>
		<url-pattern>/addFunction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>changeFunction</servlet-name>
		<servlet-class>health.function.ChangeFunctionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>changeFunction</servlet-name>
		<url-pattern>/changeFunction</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
</web-app>
