#content CITE A.text.external:unknown {
	DISPLAY: none
}
.navbox {
	DISPLAY: none
}
.sisterproject.infobox {
	DISPLAY: none
}
.ns-0 .ambox {
	DISPLAY: none
}
#privacy {
	DISPLAY: none
}
#about {
	DISPLAY: none
}
#disclaimer {
	DISPLAY: none
}
.editlink {
	DISPLAY: none
}
.noprint {
	DISPLAY: none
}
.metadata {
	DISPLAY: none
}
.dablink {
	DISPLAY: none
}
